body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Sign-in page styling */
.signin-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4facfe;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input:invalid {
  border: 2px solid red;
}

/* Audio player page styling */
.player-body {
  background-color: white;
  padding: 40px;
  text-align: center;
}

.player-container {
  max-width: 500px;
  margin: auto;
  background: rgb(7, 139, 227);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

audio {
  width: 100%;
  margin-top: 20px;
}

.footer {
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0;
  }